@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 100vw;
  height: 100%;
  background: white;
}

.title {
  background: white;
  text-align: center;
}

.graphic-container {
  width: 100%;
  display: flex;
  justify-content: center;
}